.visibleModal {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  align-items: center;
  justify-content: center;
  top: 0;
  max-width: 580px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-height: 480px) {
  .visibleModal {
    height: -webkit-fill-available;
  }
}


.modalContent {
  width: 90%;
  background-color: #fff;
  color: #212121;
  padding: 20px 30px 25px 30px;
  height: inherit;
  overflow: auto;
}

.modalTitle {
  margin-top: 0;
}

.invisibleModal {
  display: none;
}

.greyBackground {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -50px;
  top: 0;
  background-color: #ffffff90;
}

.modalCloseButton {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
