.visible-modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.invisible-modal {
    display: none;
}

.grey-background {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #FFFFFF90;
}

.modal-content {
    width: 90%;
    max-width: 500px;
    background-color: white;
    color: black;
    padding: 20px 30px 30px 30px;
}

.modal-footer {
    padding-top: 20px;
}
