.visibleModal {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  max-width: 580px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-height: 480px) {
  .visibleModal {
    height: -webkit-fill-available;
  }
}

@media screen and (max-width: 600px) {
  .visibleModal {
    height: -webkit-fill-available;
  }
}

@media screen and (min-height: 480px) {
  .visibleModal {
    min-height: 440px;
  }
}


.modalContent {
  width: 90%;
  background-color: white;
  color: black;
  padding: 20px 30px 25px 30px;
  height: inherit;
  overflow: auto;

}

.modalFooter {
  padding-top: 20px;
}

.invisibleModal {
  display: none;
}

.greyBackground {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -50px;
  top: 0;
  background-color: #ffffff90;
}
