html {
  color: #fff;
  background-color: #212121;
}

.App {
  padding: 20px;
  max-width: 700px;
  margin: auto;
  font-family: "Quicksand", sans-serif;
}

.App div {
  margin-bottom: 5px;
}

.inlineSVGIcon {
  display: inline-block;
  height: 2em;
}

.inlineSVGText {
  display: inline-block;
  height: 1.75em;
}

.buttonPrimary {
  color: #f1f1f1;
  background-color: #981b1e;
}

.button.buttonPrimary:hover {
  background-color: #e31c3d;
}

.button {
  margin-right: 10px;
  margin-bottom: 5px;
  transition-duration: 0.4s;
  border: none;
  padding: 8px 12px;
  min-height: 40px;
  min-width: 100px;
  font-size: 0.95em;
  font-family: "Quicksand", sans-serif;
}

.button:hover {
  background-color: #ffb7c5;
  cursor: pointer;
}

.App h1,
.App h2,
.App h3 {
  font-size: 1.5em;
  font-family: "Merriweather", serif;
}
