.durationKey {
  height: 10px;
  display: inline-block;
  margin-top: 60px;
}

.durationKeySVG {
  display: inline-block;
  overflow: visible;
}

.durationKeyboard {
  display: inline-block;
  vertical-align: top;
}