.svg-score {
  overflow: visible;
  margin-top: 20px;
}

.time-signature-character{
  font-size: 50px;
}

.incorrect-guess-pitch {
  opacity: 0.7;
}

.clickable-svg, .clickable-cover {
  cursor: pointer;
}
