html {
  color: white;
  background-color: black;
}

.App {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.App h1 {
  text-align: center;
}

.App div {
  margin-bottom: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.inline-svg-icon {
  display: inline-block;
  height: 2em;
}

.inline-svg-text {
  display: inline-block;
  height: 2em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  margin-right: 10px
}
