html {
  color: white;
  background-color: black;
}

.App {
  padding: 20px;
  max-width: 700px;
  margin: auto;
  font-family: 'Quicksand', sans-serif;
}

.App h1 {
  text-align: center;
}

.App div {
  margin-bottom: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.inlineSVGIcon {
  display: inline-block;
  height: 2em;
}

.inlineSVGText {
  display: inline-block;
  height: 1.75em;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonPrimary {
  color: white;
  background-color: red;
}

.button.buttonPrimary:hover {
  background-color: #ff6382;
}



.button {
  margin-right: 10px;
  margin-bottom: 5px;
  transition-duration: 0.4s;
  border: none;
  padding: 8px;
  min-height: 40px;
  min-width: 100px;
  font-family: 'Quicksand', sans-serif;
}

.button:hover {
  background-color: #ffb7c5;
  cursor: pointer;
}

.App h1, .App h2, .App h3 {
  font-family: 'Merriweather', serif;
}
